venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_STORE

.env

.idea

.idea/

!/BackCheck/AppFolders/Images/Blog/
/BackCheck/AppFolders/Images/Blog/*.jpg
/BackCheck/AppFolders/Images/Blog/*.png
/BackCheck/AppFolders/Images/Blog/*.svg

/FrontCheckUp/